@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'PT Sans' 'calibri', sans-serif;
}

#shadow{
    box-shadow: -1px 5px 10px 5px rgba(112,112,112,.2);
}
#shadow-1{
    box-shadow: 1px 2px 4px rgba(0,0,0,.08);
}
#shadow-2{
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,.71);
}

#shimmer-card{
    background-image: linear-gradient(#dadada, #2f2f2f, #dadada);
    transform: rotate(90deg);
    animation:  shimmer 1.5s infinite;
    left: 100%;
}
 @keyframes shimmer {
    0%{left: -100%;}
    100%{left: 100%;}
 }

 #loader-element {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: #dadada;
    margin-bottom: 2px;
    overflow: hidden;
    border-radius: 5px;
 }
 #loader-element::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#dadada, #f2f2f2, #dadada);
    transform: rotate(90deg);
    animation: Change 1.5s infinite ;
 }

 @keyframes Change {
    0%{left: -100%;}
    100%{left: 100%;}
 }

/* Login Page CSS */

.container {
    max-width: 400px;
    height: 450px;
    background: 
                linear-gradient(#212121, #212121) padding-box,
                /* linear-gradient(#ffffff, #f4f7fb) padding-box, */
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 5px solid transparent;
    padding: 25px 35px;
    margin-top: 100px;
    font-size: 14px;
    font-family: inherit;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;

  }
  
  .heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: rgb(16, 137, 211);
  }
  
  .form {
    margin-top: 10px;
  }
  
  .form .input {
    width: 100%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
  }
  
  .form .input::-moz-placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input::placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input:focus {
    outline: none;
    border-inline: 2px solid #12B1D1;
  }
  
  .form .forgot-password {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .form .forgot-password a {
    font-size: 11px;
    color: #0099ff;
    text-decoration: none;
  }
  
  .form .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
    color: white;
    padding-block: 15px;
    margin: 30px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
  }
  
  .form .login-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
  }
  
  .form .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  

  