@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'PT Sans' 'calibri', sans-serif;
}

#shadow{
    box-shadow: -1px 5px 10px 5px rgba(112,112,112,.2);
}
#shadow-1{
    box-shadow: 1px 2px 4px rgba(0,0,0,.08);
}

#shimmer-card{
    background-image: linear-gradient(#dadada, #2f2f2f, #dadada);
    transform: rotate(90deg);
    animation:  shimmer 1.5s infinite;
    left: 100%;
}
 @keyframes shimmer {
    0%{left: -100%;}
    100%{left: 100%;}
 }

 #loader-element {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: #dadada;
    margin-bottom: 2px;
    overflow: hidden;
    border-radius: 5px;
 }
 #loader-element::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#dadada, #f2f2f2, #dadada);
    transform: rotate(90deg);
    animation: Change 1.5s infinite ;
 }

 @keyframes Change {
    0%{left: -100%;}
    100%{left: 100%;}
 }